# Project 6 : DataFrame

1. **What is the average number of goals for the home team?**

In [69]:
import pandas as pd

In [70]:
df = pd.read_csv("results.csv")

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45315 entries, 0 to 45314
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45315 non-null  object
 1   home_team   45315 non-null  object
 2   away_team   45315 non-null  object
 3   home_score  45315 non-null  int64
 4   away_score  45315 non-null  int64
 5   tournament  45315 non-null  object
 6   city        45315 non-null  object
 7   country     45315 non-null  object
 8   neutral     45315 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

In [72]:
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
45310,2023-11-21,Wales,Turkey,1,1,UEFA Euro qualification,Cardiff,Wales,False
45311,2023-11-21,Croatia,Armenia,1,0,UEFA Euro qualification,Zagreb,Croatia,False
45312,2023-11-21,Andorra,Israel,0,2,UEFA Euro qualification,Andorra la Vella,Andorra,False
45313,2023-11-21,Kosovo,Belarus,0,1,UEFA Euro qualification,Pristina,Kosovo,False
45314,2023-11-21,Romania,Switzerland,1,0,UEFA Euro qualification,Bucharest,Romania,False

In [73]:
print("The average number of goals for the home team is : ",df['home_score'].mean())

The average number of goals for the home team is :  1.7393136930376256

2. **What is the average number of goals for the away team?**

In [74]:
print("The average number of goals for the away team is : ",df['away_score'].mean())

The average number of goals for the away team is :  1.1782412004854905

3. **What is the country with the highest overall home score?**

In [75]:
pays = df.groupby("country")["home_score"].sum().idxmax()
print("The country with the highest overall home score is : ",pays)

The country with the highest overall home score is :  United States

4. **What are the top 3 type of tournaments?**

In [76]:
print("The top 3 type of tournaments :")
df[['tournament']].value_counts().head(3)

The top 3 type of tournaments :

tournament
Friendly                        17773
FIFA World Cup qualification     8016
UEFA Euro qualification          2815
Name: count, dtype: int64

5. **What are the top 3 cities?**

In [77]:
print("The top 5 cities :")
df[["city"]].value_counts().head()

The top 5 cities :

city
Kuala Lumpur    678
Doha            519
Bangkok         430
London          423
Budapest        419
Name: count, dtype: int64

6. **Which country has the highest overall FIFA World Cup goals?**

In [78]:
df1 = df[df['tournament'] == 'FIFA World Cup'].copy()

In [79]:
df1["Total"] = df1["home_score"] + df1["away_score"]

In [80]:
HS = df1.groupby('country')['Total'].sum().idxmax()

print(f"The country with the highest overall home score is: {HS}")

The country with the highest overall home score is: Brazil

7. **Which country has the lower overall FIFA World Cup goals?**

In [81]:
print("The country has the lower overall FIFA World Cup goals is : ",df1.groupby('country')["Total"].sum().idxmin())

The country has the lower overall FIFA World Cup goals is :  Uruguay