# Assignment 1 - Intro to Python
___

## Exercise 1: Basics

### 1.1 

Convert the cell below into a markdown cell with the following content:

- A level 3 header titled "Markdown Cell"
- The following text: "This is a markdown cell"
- The following text in bold: "This is bold text"
- The following text in italics: "This text is italicized"

### Markdown Cell

This is a markdown cell

**This is bold text**

*This text is italicized*

### 1.2

What's the difference between a local and a global variable in Python? 
Use a multiline comment in the cell below for your answer.

In [86]:
# 1.2 Answer

print("""
In Python, the difference between a local and a global variable is their scope and lifetime.

- Local Variable:
  - A local variable is declared inside a function and is only accessible within that function.
  - It is created when the function starts executing and is destroyed when the function ends.
  - Local variables can only be used within the scope of the function where they are declared.

- Global Variable:
  - A global variable is declared outside of all functions and is accessible from any function in the program.
  - It exists for the lifetime of the program and can be accessed or modified from any part of the code.
  - Global variables can be accessed inside functions, but if you want to modify a global variable inside a function, you need to use the `global` keyword.

So, local variables have a local scope limited to the function in which they are defined, while global variables have a global scope and can be accessed from anywhere in the program.
""")

In Python, the difference between a local and a global variable is their scope and lifetime.

- Local Variable:
  - A local variable is declared inside a function and is only accessible within that function.
  - It is created when the function starts executing and is destroyed when the function ends.
  - Local variables can only be used within the scope of the function where they are declared.

- Global Variable:
  - A global variable is declared outside of all functions and is accessible from any function in the program.
  - It exists for the lifetime of the program and can be accessed or modified from any part of the code.
  - Global variables can be accessed inside functions, but if you want to modify a global variable inside a function, you need to use the `global` keyword.

So, local variables have a local scope limited to the function in which they are defined, while global variables have a global scope and can be accessed from anywhere in the program.

### 1.3

Correct the following variable names following Python variable naming convention.

In [87]:
# 1.3.1

1st_variable = 'Hello'

SyntaxError: invalid decimal literal (1058536408.py, line 3)

In [88]:
# 1.3.1 Answer

st_variable = 'Hello'

In [89]:
# 1.3.2

My_VAR = '5'

In [90]:
# 1.3.2 Answer

my_var = '5'

### 1.4

Given the variables:

    country = 'Canada'
    city = 'Ottawa'

Use the `format()` method to print the following string: "**The capital of Canada is Ottawa**"

In [91]:
# 1.4 Answer
country = 'Canada'
city = 'Ottawa'

print('The capital of {} is {}'.format(country,city))

The capital of Canada is Ottawa

## Exercise 2: Python Data Types

### 2.1 

Perform the following conversions:

In [92]:
# 2.1.1
# Convert this string into an integer using the int() function

s = '123'

In [93]:
# 2.1.1 Answer

int(s)

123

In [94]:
# 2.1.2
# Convert this number to a string using the str() function

i = 456

In [95]:
# 2.1.2 Answer

str(i)

'456'

In [96]:
# 2.1.2 
# Convert this float to an integer

f = 3.14

In [97]:
# 2.1.2 Answer

int(f)

3

## Exercise 3: Data Containers

### 3.1

Create a list called **my_list** that contains the numbers from 1-5

In [98]:
# 3.1 Answer

my_list = [1,2,3,4,5]

### 3.2

Use negative indexing to access the last element in **my_list**.

In [99]:
# 3.2 Answer

my_list[-1]

5

### 3.3

Create another list called **new_list** that contains 3 negative numbers only.

In [100]:
# 3.3 Answer

new_list = [-1,-2,-3]

### 3.4

Append the second element of **new_list** to **my_list**, then print the updated **my_list**.

In [101]:
# 3.4 Answer

my_list.append(new_list[1])
print(my_list)

[1, 2, 3, 4, 5, -2]

### 3.5

Create a dictionary with the following keys, 'Name', 'Year', 'Music' and 'Food'. The values associated with each key (in order) should be your name, the current year, you favourite genre of music and one of your favourite foods. 

Name the dictionary **my_dict** and print it.

In [102]:
# 3.5 Answer

my_dict = { 'Name' : 'Walid' , 'Year' : 2024 , 'Music' : 'Rap' , 'Food' : 'Pizza' }
print(my_dict)

{'Name': 'Walid', 'Year': 2024, 'Music': 'Rap', 'Food': 'Pizza'}

### 3.6

Replace the value associated with 'Food' to another one of your favourite foods.
Print the updated dictionary.

In [103]:
# 3.6 Answer

my_dict['Food'] = 'Pasta'
print(my_dict)

{'Name': 'Walid', 'Year': 2024, 'Music': 'Rap', 'Food': 'Pasta'}

### 3.7

Given this nested dictionary, grab the word "YES".

In [104]:
d = {'key':[634,11,9892,{'another key':['more','values','here',{'target':[9,8,7,'YES']}]}]}
d

{'key': [634,
  11,
  9892,
  {'another key': ['more', 'values', 'here', {'target': [9, 8, 7, 'YES']}]}]}

In [105]:
# 3.7 Answer

d['key'][3]['another key'][3]['target'][3]

'YES'

### 3.8

What is the difference between a tuple and a set?

In [106]:
# 3.8 Answer

print("""
The main differences between a tuple and a set in Python are their properties and intended use cases:
Tuple: Ordered, immutable, allows duplicates. Defined with ().
Set: Unordered, mutable, no duplicates. Defined with {} or set().
""")

The main differences between a tuple and a set in Python are their properties and intended use cases:
Tuple: Ordered, immutable, allows duplicates. Defined with ().
Set: Unordered, mutable, no duplicates. Defined with {} or set().

### 3.9

Given the following list:

`l = [1,2,3,1]`

Convert it to a list with unique values only.

In [107]:
# 3.9 Answer
l = [1,2,3,1]
l = set(l)
l = list(l)
l

[1, 2, 3]

## Exercise 4: Python Operators

### 4.1

Perform the follwoing arithmetic operation: (5+3) x 2

In [108]:
# 4.1 Answer
(5+3)*2

16

### 4.2

Explain the difference between `/` and `//` division operators in Python

In [112]:
# 4.2 Answer
print("""
The / operator performs true division, which means it divides the left operand by the right operand and returns a floating-point result.True division always returns a float, even if both operands are integers.
      Example: 5 / 2 results in 2.5.

The // operator performs floor division, which means it divides the left operand by the right operand and returns the largest integer less than or equal to the result (i.e., it rounds down to the nearest whole number).
Floor division returns an integer if both operands are integers, and a float if at least one operand is a float.
      Example: 5 // 2 results in 2.
""")

The / operator performs true division, which means it divides the left operand by the right operand and returns a floating-point result.True division always returns a float, even if both operands are integers.
      Example: 5 / 2 results in 2.5.

The // operator performs floor division, which means it divides the left operand by the right operand and returns the largest integer less than or equal to the result (i.e., it rounds down to the nearest whole number).
Floor division returns an integer if both operands are integers, and a float if at least one operand is a float.
      Example: 5 // 2 results in 2.

### 4.3

What is the result of 7%3?

In [113]:
# 4.3

print('The result of 7%3 is : 1')

The result of 7%3 is : 1

### 4.4

Use the `in` operator to check whether the number 3 and the number 7 are in the following list:

In [114]:
lst = [1,2,3,4,5]

In [115]:
# 4.4 Answer (Don't forget to print your results)
print('Is 3 in the list?', 3 in lst)
print('Is 7 in the list?', 7 in lst)

Is 3 in the list? True
Is 7 in the list? False

### 4.5

Explain the difference between `=` and `==` using the following two variables:

In [116]:
x = 5
y = 10

In [119]:
# 4.5 Answer

print("""
The = operator is used to assign a value to a variable.
Example: x = 5 assigns the value 5 to the variable x.
""")

The = operator is used to assign a value to a variable.
Example: x = 5 assigns the value 5 to the variable x.

In [120]:
print(x)

5

In [121]:
print("""
The == operator is used to compare two values for equality.
It checks whether the values on its left and right are equal and returns True if they are, and False otherwise.
Example: x == y checks if the value of x is equal to the value of y.
if x = 5 and y = 10, the result will be False.
""")

The == operator is used to compare two values for equality.
It checks whether the values on its left and right are equal and returns True if they are, and False otherwise.
Example: x == y checks if the value of x is equal to the value of y.
if x = 5 and y = 10, the result will be False.

In [122]:
print(x == y)

False

# The End!