# Workshop 2 - Intermediate Python
___

## Exercise 1

### 1.1

Use conditional logic to check if a number is positive, negative or zero.

Try the following values for `num`:

- 3
- -7
- 0

In [183]:
# 1.1 Answer
# method 1:
list = [3,-7,0]

for num in list:
    if num == 0:
        print(num, 'is zero')
    elif num > 0:
        print(num, 'is positive')
    else:
        print(num, 'is negative')

3 is positive
-7 is negative
0 is zero

In [184]:
# 1.1 Answer
# method 2:
def number_sign(num):
    if num == 0:
        return'zero'
    elif num > 0:
        return'Positive'
    else:
        return'Negative'
        
print('Number 3 is :',number_sign(3))
print('Number -7 is :',number_sign(-7))
print('Number 0 is :',number_sign(0))

Number 3 is : Positive
Number -7 is : Negative
Number 0 is : zero

### 1.2

Use conditional logic to check if a number is even or odd.

Try the following values for `num`:

- 234
- 81

In [189]:
# 1.2 Answer
# method 1:
numbers = [234,81]
for number in numbers:
    if number % 2 == 0:
        print("The number", number ,"is even")
    else :
        print("The number", number ,"is odd")

The number 234 is even
The number 81 is odd

In [190]:
# 1.2 Answer
# method 2:
def number(n):
    if n % 2 == 0:
        print("The number", n ,"is even")
    else:
        print("The number", n ,"is odd")

In [191]:
number(234)
number(81)

The number 234 is even
The number 81 is odd

### 1.3

Determine the largest among 3 numbers: 

```
num1 = 23
num2 = 45
num3 = 6
```

In [193]:
# 1.3 Answer
# method 1:
numbers = [23,45,6]
if (numbers[0]>numbers[1] and numbers[0]>numbers[2]):
    print("The largest among 3 numbers 23,45,6 is : ",numbers[0])
elif (numbers[1]>numbers[0] and numbers[1]>numbers[2]):
    print("The largest among 3 numbers 23,45,6 is : ",numbers[1])
else:
    print("The largest among 3 numbers 23,45,6 is : ",numbers[2])

The largest among 3 numbers 23,45,6 is :  45

In [194]:
# 1.3 Answer
# method 2:
numbers = [23,45,6]
print("The largest among 3 numbers: 23,45,6 is :",max([23,45,6]))

The largest among 3 numbers: 23,45,6 is : 45

## Exercise 2

### 2.1

Write a loop that iterates over a list of strings and prints `True` if the string is a palindrome and `False` if the string isn't. 

A palindrome is a word that is read the same backward as forward,e.g. noon, level, civic, etc.,)

`words = ['ball', 'kayak', 'song', 'Python', 'madam', 'racecar', 'Laval']`

In [198]:
# 2.1 Answer
words = ['ball', 'kayak', 'song', 'Python', 'madam', 'racecar', 'Laval']

for word in words:
    aux = word.lower()
    palindrome = aux == aux[::-1]
    print(palindrome,":",word)

False : ball
True : kayak
False : song
False : Python
True : madam
True : racecar
True : Laval

### 2.2

Find the sum of all even numbers from 1 to a 100.

In [199]:
# 2.2 Answer
s = 0
for i in range(0,101):
    if i % 2 == 0:
        s = s + i
print("The sum of all even numbers from 1 to a 100 is :", s)

The sum of all even numbers from 1 to a 100 is : 2550

### 2.3

You have a list called `cities` with the following elements: 

```
cities = ['Toronto', 'Vancouver', 'Montreal']
```

Use a for loop to return a list of these elements in reversed order. Call your new list `reversed_cities`.

```
reversed_cities = ['otnoroT', 'revuocnaV', 'laertnoM']
```

In [200]:
# 2.3 Answer
cities = ['Toronto', 'Vancouver', 'Montreal']
reversed_cities = []
for city in cities:
    reversed_cities.append(city[::-1])
                           
print(reversed_cities)

['otnoroT', 'revuocnaV', 'laertnoM']

## 2.4

Reverse the same above string, but this time using a function. Create a function called `reverse_string()` that will take in the list of cities, then reverses that string.

In [201]:
# 2.4 Answer
def reverse_string(list):
    reversed_list = []
    for lis in list:
        reversed_list.append(lis[::-1])
    return reversed_list

In [202]:
print(reverse_string(cities))

['otnoroT', 'revuocnaV', 'laertnoM']

## Exercise 3

### 3.1

Write a Python function called `test_distinct()` that takes a sequence of numbers and determines whether all the numbers in that sequence are distinct from one another, or not.

Your function should have the following output, when the following lists are passed as arguments:

```
test_distinct([2,3,4,5,7,8]) -> True

test_distinct([2,3,4,5,8,8]) -> False
```

In [218]:
# 3.1 Answer
def test_distinct(numbers):
    aux = set()
    for num in numbers:
        if num in aux:
            return False
        aux.add(num)
    return True

In [219]:
print(test_distinct([2, 3, 4, 5, 7, 8]))
print(test_distinct([2, 3, 4, 5, 8, 8]))

True
False

3.2

Creates a function called `first_last()` that takes a string of text and returns the first and last characters of that string.

You should get the following output:

```
first_last('Montreal') -> 'Ml'
```

In [203]:
# 3.2 Answer
def first_last(caractere) :
    print(caractere[0],caractere[len(caractere)-1])

In [204]:
first_last('Montreal')

M l

### 3.3

Create a function called `get_century()` that takes a year and returns its corresponding century.

For example, your `get_century()` function should return the following:

```
get_century(2005) ➞ 21

get_century(1850) ➞ 19

get_century(-332) ➞ -4

get_century(55) ➞ 1

get_century(-65) ➞ -1
```

In [209]:
# 3.3 Answer
# method 1:
def get_century(x):
    if (x >= 1000 or x <= -1000):
        if x>0:
            aux = x//100
            return aux+1
        else:
            aux = x//100
            return aux
    elif (x>=100 and x<1000) or (x<= -100 and x> -1000):
        if x >= 0:
            aux = x//100
            return aux+1
        else :
            aux = x//100
            return aux
    else:
        if (x >= 0 and x<100):
            return 1
        else:
            return -1

In [211]:
get_century(2024)

21

In [210]:
# 3.3 Answer
# method 2:
def get_century(x):
    if (x >= 1000 or x <= -1000):
        if x>0:
            aux = str(x)
            return int(aux[0:2])+1
        else:
            aux = str(x)
            return int(aux[0:3])-1            
    elif (x>=100 and x<1000) or (x<= -100 and x> -1000):
        if x >= 0:
            aux = str(x)
            return int(aux[0])+1
        else :
            aux = str(x)
            return int(aux[0:2])-1            
    else:
        if (x >= 0 and x<100):
            return 1
        else:
            return -1

In [212]:
# 3.3 Answer
get_century(-2024)

-21

## Exercise 4

### 4.1

You have the following list of user IDs.

```
lst = [gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US,
    iuhsdf897y3righsfe-US, iushdf98h23ryg-IT, GHsg1s54sda8-CA, iuhdf9h32ryu9gf-IT,
    IUufgh98y34-FR, 98yfdiuhdfbviuh8-UK, 45asdjJHHghsdas-CA
]
```

Each ID is made up of a unique userID section, as well as a countryID section.

Create a function called `country_counter()` that takes in the above list, and gives the following output:

```
{'US': 3, 'CA': 3, 'IT': 2, 'FR': 1, 'UK': 1}
```

In [220]:
# 4.1 Answer
def country_counter(lst):
    country_count = {}
    
    for user_id in lst:
        country_id = user_id.split('-')[-1]      
        if country_id in country_count:
            country_count[country_id] += 1
        else:
            country_count[country_id] = 1    
    return country_count

lst = [
    'gyhwefy7832ryyg-US', 'iu7ytf87gyuwef-CA', '98yfyg82t3r-US',
    'iuhsdf897y3righsfe-US', 'iushdf98h23ryg-IT', 'GHsg1s54sda8-CA', 'iuhdf9h32ryu9gf-IT',
    'IUufgh98y34-FR', '98yfdiuhdfbviuh8-UK', '45asdjJHHghsdas-CA'
]

In [221]:
print(country_counter(lst))

{'US': 3, 'CA': 3, 'IT': 2, 'FR': 1, 'UK': 1}

### Exercise 4.2

Create a function called `factorial()` that computes the factorial of a given number. 

In math the factorial of a positive integer is the product of all integers smaller than or equal to that integer, starting from 1. 

For example, the factorial of 4 (4!) can be calculated as follows:

$$4! = 4*3*2*1$$
$$4! = 24$$

Your `factorial()` function should have the following output for the number 4:

```
factorial(4) --> 24
```

In [213]:
# 4.2 Answer
def factorial(x):
    f = 1
    for i in range(1,x+1):
        f = f*i
    return f

print("The factorial of 4 (4!) is :",factorial(4))

The factorial of 4 (4!) is : 24

### 4.3

Create a function called `gcd()` to find the greatest common divisor (GCD) of the following two numbers: 99 and 45.

In [214]:
# 4.3 Answer
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

In [215]:
print(gcd(99, 45))

9

## Exercise 5

### 5.1

Create a function called `pyramid()`, that takes in a number, then prints a sideways pyramid with a number of levels that is equivalant to that number.

For example, `pyramid(4)` should print out:

```
* 
* * 
* * * 
* * * * 
* * * 
* * 
* 
```

Print an 8 leveled pyramid like the one below with your `pyramid()` function:

```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

In [216]:
# 5.1 Answer
def pyramid(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print("*",end ='')
        print("")
    
    for i in range(n-1,-1,-1):
        for j in range(0,i):
            print("*",end ='')
        print("")

In [217]:
pyramid(8)

*
**
***
****
*****
******
*******
********
*******
******
*****
****
***
**
*

# The End!