# ***Sets :***

1. **Set Content :**

A set is a unique collection of objects in Python. You can denote a set with a pair of curly brackets {}. Python will automatically remove duplicate items.

* **Example :**

In [51]:
# Create a set
set = {"Walid" , 18 , 1 , "Walid" , 31}

In [52]:
# Print set
print(set)

{'Walid', 18, 1, 31}

2. **Set Operations :**

2.1 **Add method :**

We can add an element to a set using the add() method:

In [53]:
set = {"Walid" , 18 , 1 , "Walid" , 31}
set.add("Raja") # add "Raja" to set

In [54]:
# Print set
print(set)

{'Walid', 1, 'Raja', 18, 31}

2.2 **Remove method :**

We can remove an item from a set using the remove() method:

In [55]:
set = {"Walid", 1, "Raja", 18, 31}
set.remove("Walid") # remove "Waja" from set

In [56]:
# Print set
print(set)

{1, 18, 'Raja', 31}

We can verify if an element is in the set using the in command:

* **Example 1 :**

In [57]:
"Walid" in set

False

* **Example 2 :**

In [58]:
"Raja" in set

True

3. **Sets Logic Operations :**

We consider the following two sets :

In [59]:
set_1 = {"Walid", 1 , "Raja", 18 , 31 ,"Walid", 7}
set_2 = {"Canada", 7 , 11 , "Raja", 12 ,"Walid" , 31}

3.1 **Intersections :**

* We can find the intersect of two sets as follow using **&** :

In [60]:
# Print set_1 and set_2
print('set_1 = ', set_1)
print('set_2 = ', set_2)

set_1 =  {'Walid', 1, 18, 7, 'Raja', 31}
set_2 =  {'Walid', 'Canada', 7, 11, 12, 'Raja', 31}

In [61]:
# Find the intersections
intersection = set_1 & set_2
print('The intersection of two sets "set_1" and "set_2" is : ', intersection)

The intersection of two sets "set_1" and "set_2" is :  {'Walid', 31, 'Raja', 7}

* We can find the intersect of two sets using **intersection()** method :

In [62]:
# Find the intersections
inter = set_1.intersection(set_2)
print('The intersection of two sets "set_1" and "set_2" is : ', inter)

The intersection of two sets "set_1" and "set_2" is :  {'Walid', 31, 'Raja', 7}

3.2 **Difference :**

We can find all the elements that are only contained in set_1 using the **difference()** method:

In [63]:
# Print set_1 and set_2
print('set_1 = ', set_1)
print('set_2 = ', set_2)

set_1 =  {'Walid', 1, 18, 7, 'Raja', 31}
set_2 =  {'Walid', 'Canada', 7, 11, 12, 'Raja', 31}

In [64]:
# The difference in set_1 but not set_2
difference_1 = set_1.difference(set_2)
print('The difference in "set_1" but not "set_2" is : ', difference_1)

The difference in "set_1" but not "set_2" is :  {1, 18}

In [65]:
# The difference in set_2 but not set_1
difference_2 = set_2.difference(set_1)
print('The difference in "set_1" but not "set_2" is : ', difference_2)

The difference in "set_1" but not "set_2" is :  {11, 12, 'Canada'}

3.3 **Union :**

* We can find the union of two sets using **union()** method :

In [66]:
# Print set_1 and set_2
print('set_1 = ', set_1)
print('set_2 = ', set_2)

set_1 =  {'Walid', 1, 18, 7, 'Raja', 31}
set_2 =  {'Walid', 'Canada', 7, 11, 12, 'Raja', 31}

In [67]:
# Find the union
union = set_1.union(set_2)
print('The union of two sets "set_1" and "set_2" is : ', union)

The union of two sets "set_1" and "set_2" is :  {'Walid', 1, 7, 11, 12, 'Raja', 18, 'Canada', 31}

* We can check if a set is a **superset** or **subset** of another set, respectively, like this:

In [68]:
set_1 = {"Walid" , "Raja", 18 ,"Walid", 7}
set_2 = {"Canada", 7 , 18 , "Raja", 12 ,"Walid" , 7}

In [69]:
# Check if superset
set_1.issuperset(set_2)   # set_1 isn't a superset of set_2

False

In [70]:
# Check if subset
set_1.issubset(set_2)   # set_1 is a subset of set_2

True