# ***Strings :***

1. **Print strings :**

+ **Method 1 :**

In [4]:
print("My name is Walid Lahlali, I'm 31 years old")

My name is Walid Lahlali, I'm 31 years old

+ **Method 2 :**

In [5]:
Name_Age = "My name is Walid Lahlali, I'm 31 years old"
Name_Age

"My name is Walid Lahlali, I'm 31 years old"

2. **Indexing :**

The first index of "My name is Walid Lahlali, I'm 31 years old" is :

In [7]:
Name_Age[0] #The first index

'M'

The last index of "My name is Walid Lahlali, I'm 31 years old" is :

In [14]:
Name_Age[-1] #The last index is Name_Age[-1] or Name_Age[41]

'd'

In [16]:
Name_Age[41] #The last index is Name_Age[41] or Name_Age[-1]

'd'

In [18]:
Name_Age[11] #The 12th caracter

'W'

3. **The number of characters :**

In [42]:
Name_Age

"My name is Walid Lahlali, I'm 31 years old"

In [24]:
print('The number of characters is :',len(Name_Age))

The number of characters is : 42

In [25]:
print(f'The number of characters is : {len(Name_Age)}')

The number of characters is : 42

4. **Slicing :**

The first four characters of "My name is Walid Lahlali, I'm 31 years old" are :

In [29]:
Name_Age[0:5]

'My na'

The caracters from 11 to 15 :

In [40]:
Name_Age[11:16]

'Walid'

Select every second variable :

In [41]:
print(Name_Age[::2])

M aei ai all,Im3 er l