# ***String Operations :***

1. **Addition :**

Concatenate two strings :

+ **Example 1 :**

In [57]:
'Walid' + 'Lahlali'

'WalidLahlali'

+ **Example 2 :**

In [58]:
first_name = 'Walid'
last_name = 'Lahlali'
first_name + last_name

'WalidLahlali'

Concatenate three or four strings :

In [59]:
'my' + 'name' + 'is' + 'Walid'

'mynameisWalid'

2. **Multiplication :**

**Example 1 :** Print the string for 2 times :

In [60]:
2*'Walid'

'WalidWalid'

**Example 2 :** Print the string for 5 times :

In [61]:
5*'Lahlali'

'LahlaliLahlaliLahlaliLahlaliLahlali'

3. **Capital letters :**

The method **upper** converts lower case characters to upper case characters:

In [62]:
Name = 'walid lahlali'
Name.upper()

'WALID LAHLALI'

4. **Lowercase letters :**

The method lower converts upper case characters to lower case characters:

In [63]:
Name = 'WALID LAHLAI'
Name.lower()

'walid lahlai'

5. **Replace strings :**

The method replace replaces a segment of the string :

In [64]:
Name = 'walid lahlali'
Name.replace('walid','raja')

'raja lahlali'

6. **Find strings:**

The method find finds a sub-string :

In [65]:
Name = 'walid lahlali'
Name.find('lid') # 2 is the index of first string

2

7. **split strings :**

In [66]:
Name = 'walid lahlali'
Name.split()

['walid', 'lahlali']